<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="false" /> 
        <setting name="multipleResultSetsEnabled" value="true" />
<!--         <setting name="useColumnLabel" value="true" /> -->
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="defaultStatementTimeout" value="25000" />
	</settings>

	<typeHandlers>
		<typeHandler javaType="oracle.sql.TIMESTAMP" handler="org.apache.ibatis.type.DateTypeHandler" />
		<typeHandler javaType="java.sql.Timestamp" handler="org.apache.ibatis.type.DateTypeHandler" />
		<typeHandler javaType="java.sql.Time" handler="org.apache.ibatis.type.DateTypeHandler" />
		<typeHandler javaType="java.sql.Date" handler="org.apache.ibatis.type.DateTypeHandler" />
		<typeHandler handler="org.apache.ibatis.type.ClobTypeHandler" jdbcType="CLOB" javaType="java.lang.String"/>
<!-- 		<typeHandler javaType="oracle.sql.CLOB" handler="org.apache.ibatis.type.StringTypeHandler" /> -->
	</typeHandlers>
	
	<mappers>
	    <mapper resource="kr/co/eventroad/admin/mapper/main.xml" />
	    <mapper resource="kr/co/eventroad/admin/mapper/reply.xml" />
	    <mapper resource="kr/co/eventroad/admin/mapper/kids.xml" />
	    <mapper resource="kr/co/eventroad/admin/mapper/car.xml" />
	    <mapper resource="kr/co/eventroad/admin/mapper/notice.xml" />
	    <mapper resource="kr/co/eventroad/admin/mapper/admin.xml" />
	    <mapper resource="kr/co/eventroad/admin/mapper/log.xml" />
	    <mapper resource="kr/co/eventroad/admin/mapper/user.xml" />
	    <mapper resource="kr/co/eventroad/admin/mapper/teacher.xml" />
	    <mapper resource="kr/co/eventroad/admin/mapper/album.xml" />
	    <mapper resource="kr/co/eventroad/admin/mapper/area.xml" />
	    <mapper resource="kr/co/eventroad/admin/mapper/kindergarden.xml" />
	</mappers>
</configuration>